<!-- <div class="container" id="spanel">
  <form [formGroup]="cityForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row">
      <button type="submit" class="btn btn-success"><i class="material-icons">search</i></button>
      <div class="col">
        <input class="form-control" formControlName="city" placeholder="City">
      </div>
      <div class="col">
        <select class="form-control" formControlName="country">
          <option value="" disabled selected>Select country</option>
          <option *ngFor="let c of countries" [value]="c">{{c}}</option>
        </select>
      </div>
    </div>
  </form>
</div> -->
<div class="mat-app-background basic-container">
  <form class="finder-container" [formGroup]="cityForm" (ngSubmit)="onSubmit()" novalidate id="spanel">
    <mat-grid-list cols="3" rowHeight="10:2">
      <mat-grid-tile>
        <button mat-icon-button aria-label='Search' type="submit"><i class="material-icons">search</i></button>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="finder-full-width">
          <mat-select placeholder="Select Country" formControlName="country">
            <mat-option *ngFor="let con of countries" [value]="con"> {{ con }} </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="finder-full-width">
          <input matInput type="text" placeholder="City" formControlName="city" autocomplete="off">
        </mat-form-field>
      </mat-grid-tile>      
    </mat-grid-list>
  </form>
</div>