<div *ngIf="city">
    <mat-card tabindex="1" role="group">
        <div>
            <iframe width="100%" height="auto" frameborder="0" style="border:0" [src]="city | safeUrl" allowfullscreen></iframe>
        </div>
        <mat-card-title>{{ city.city }}</mat-card-title>
        <mat-card-content>
            <p *ngIf="city.county">County: {{ city.county }}</p>
            <p *ngIf="city.municipality">Municipality: {{ city.Municipality }}</p>
            <p >State: {{ city.state }}</p>
            <p>Country: {{ city.country }}</p>
        </mat-card-content>
        <mat-card-actions layout="row" layout-align="end center">
            <a [href]="city | safeUrl" target="_blank">
                <button mat-button><i class="material-icons blue-btn">dashboard</i></button>
            </a>
            <a [href]="city | safeUrl" target="_blank">
                <button mat-button><i class="material-icons green-btn">location_city</i></button>
            </a>
            <button mat-button (click)="deleteCity()"><i class="material-icons red-btn">delete</i></button>
        </mat-card-actions>
    </mat-card>
</div>

